<h1 class="text-3xl text-center">Welcome <b><%= @current_user.email %></b></h1>
<% if @categories.empty? %>
  <h2 class="text-center">There is no categories for now</h2>
<% end %>
<div class="flex items-center justify-end mb-6">

  <%= link_to 'Add New Category', new_group_path, class: "px-4 py-2 border-2 border-black cursor:pointer" %>
</div>
<div class="w-10/12 mx-auto">
    <ul>
        <% @categories.each do |category| %>
          <li class="my-6">
            <% @test = 0%>
          <p><%= category.icon%></p>
          <% @total.where(group: category).each do | item | %>
          <% @test += item.exchange.amount %>
          <% end %>
          <%= link_to category.name, "/groups/#{category.id}" %>
          <p><%= @test%></p>
          </li>
        <% end %>
    </ul>
</div>
