<% if user_signed_in? %>
  <div class="flex flex-col justify-center w-full max-w-3xl gap-6 mx-auto align-center">
  <h1 class="text-3xl text-center">Add New Category</h1>
  <% if @category.errors.any? %>
    <div class="post-errors-box">
      <p><%= pluralize(@category.errors.count, "error") %> found:</p>

      <ul class="post-errors-ul">
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex items-center justify-end mb-6">

  <%= link_to 'Back', '/', class: "px-4 py-2 border-2 border-black cursor:pointer" %>
</div>
  <%= form_with url: "/groups", model: @category, class: 'flex flex-col w-full max-w-3xl mx-auto gap-6 justify-center align-center' do |form| %>
    <div class="flex flex-col w-full max-w-3xl">
      <%= form.label :name %>
      <%= form.text_field :name, required: true, class: 'w-full' %>
    </div>
    <div class="flex flex-col w-full max-w-3xl">
      <%= form.label :icon %>
      <%= form.text_field :icon, required: true, class: 'w-full' %>
    </div>
    <div class="flex justify-center w-full max-w-3xl align-center">
      <%= form.submit class: 'px-4 py-2 border-2 border-black cursor:pointer mb-8' %>
    </div>
  <% end %>
</div>
<% else %>
  <p>Please, sign in to create a category item</p>
<% end %>
